<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[呲牙]</key>
	<string>0.gif</string>
	<key>[打呼]</key>
	<string>1.gif</string>
	<key>[大笑]</key>
	<string>2.gif</string>
	<key>[得意]</key>
	<string>3.gif</string>
	<key>[高兴]</key>
	<string>4.gif</string>
	<key>[羞涩]</key>
	<string>5.gif</string>
	<key>[鼓掌]</key>
	<string>6.gif</string>
	<key>[哈欠]</key>
	<string>7.gif</string>
	<key>[发怒]</key>
	<string>8.gif</string>
	<key>[财迷]</key>
	<string>9.gif</string>
	<key>[擦汗]</key>
	<string>10.gif</string>
	<key>[闭嘴]</key>
	<string>11.gif</string>
	<key>[鄙视]</key>
	<string>12.gif</string>
	<key>[囧]</key>
	<string>13.gif</string>
	<key>[可爱]</key>
	<string>14.gif</string>
	<key>[可怜]</key>
	<string>15.gif</string>
	<key>[抠鼻]</key>
	<string>16.gif</string>
	<key>[困]</key>
	<string>17.gif</string>
	<key>[流汗]</key>
	<string>18.gif</string>
	<key>[卖萌]</key>
	<string>19.gif</string>
	<key>[敲打]</key>
	<string>20.gif</string>
	<key>[色]</key>
	<string>21.gif</string>
	<key>[流泪]</key>
	<string>22.gif</string>
	<key>[上火]</key>
	<string>23.gif</string>
	<key>[生气]</key>
	<string>24.gif</string>
	<key>[衰]</key>
	<string>25.gif</string>
	<key>[跳舞]</key>
	<string>26.gif</string>
	<key>[偷笑]</key>
	<string>27.gif</string>
	<key>[吐]</key>
	<string>28.gif</string>
	<key>[委屈]</key>
	<string>29.gif</string>
	<key>[无奈]</key>
	<string>30.gif</string>
	<key>[小丑]</key>
	<string>31.gif</string>
	<key>[嘘]</key>
	<string>32.gif</string>
	<key>[左哼哼]</key>
	<string>33.gif</string>
	<key>[右哼哼]</key>
	<string>34.gif</string>
	<key>[晕]</key>
	<string>35.gif</string>
	<key>[再见]</key>
	<string>36.gif</string>
	<key>[眨眼]</key>
	<string>37.gif</string>
	<key>[咒骂]</key>
	<string>38.gif</string>
	<key>[猪头]</key>
	<string>39.gif</string>
	<key>[眼镜]</key>
	<string>40.gif</string>
	<key>[拜拜]</key>
	<string>41.gif</string>
	<key>[Orz]</key>
	<string>42.gif</string>
	<key>[奥特曼]</key>
	<string>43.gif</string>
	<key>[浮云]</key>
	<string>44.gif</string>
	<key>[给力]</key>
	<string>45.gif</string>
	<key>[红牌]</key>
	<string>46.gif</string>
	<key>[黄牌]</key>
	<string>47.gif</string>
	<key>[闪电]</key>
	<string>48.gif</string>
	<key>[实习]</key>
	<string>49.gif</string>
	<key>[帅]</key>
	<string>50.gif</string>
	<key>[太阳]</key>
	<string>51.gif</string>
	<key>[团圆]</key>
	<string>52.gif</string>
	<key>[吻]</key>
	<string>53.gif</string>
	<key>[乌云]</key>
	<string>54.gif</string>
	<key>[萌]</key>
	<string>55.gif</string>
	<key>[月亮]</key>
	<string>56.gif</string>
	<key>[云]</key>
	<string>57.gif</string>
	<key>[宅]</key>
	<string>58.gif</string>
	<key>[织毛衣]</key>
	<string>59.gif</string>
	<key>[中国]</key>
	<string>60.gif</string>
	<key>[屎]</key>
	<string>61.gif</string>
	<key>[加油]</key>
	<string>62.gif</string>
</dict>
</plist>
